* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

h1 h2 h3 h4 h5 h6 p {
  line-height: 0.8;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/*======================== navbar start =====================*/
#navbar {
  padding: 30px 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}
#navbar .nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar .nav_wrapper .navbar_logo {
  width: 122px;
  height: 28px;
}
#navbar .nav_wrapper .navbar_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#navbar .nav_wrapper .navbar_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
#navbar .nav_wrapper .navbar_menu ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
#navbar .nav_wrapper .navbar_menu ul li a {
  font-size: 16px;
  font-weight: 18px;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
  line-height: 140%;
  transition: all linear 0.3s;
  position: relative;
}
#navbar .nav_wrapper .navbar_menu ul li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background: white;
  left: 0;
  bottom: -8px;
  transition: all linear 0.3s;
}
#navbar .nav_wrapper .navbar_menu ul li a:hover::after {
  width: 50%;
}
#navbar .nav_wrapper .navbar_menu .nav_btn {
  display: flex;
  align-items: center;
}
#navbar .nav_wrapper .navbar_menu .nav_btn a {
  font-size: 16px;
  font-weight: 18px;
  color: white;
  cursor: pointer;
  padding: 16px 48px;
  border: 2px solid #F4F6FC;
  border-radius: 41px;
  text-transform: capitalize;
  line-height: 140%;
}

/*======================== navbar end =====================*/
/*======================== banner start =====================*/
#banner {
  padding: 218px 0 128px 0;
  background: #1C1E53;
}
#banner .banner_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
#banner .banner_wrapper .banner_heading {
  width: 582px;
}
#banner .banner_wrapper .banner_heading h1 {
  font-size: 54px;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  line-height: 150%;
  margin-bottom: 24px;
}
#banner .banner_wrapper .banner_heading p {
  width: 562px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  line-height: 140%;
  text-transform: capitalize;
  margin-bottom: 48px;
}
#banner .banner_wrapper .banner_heading .banner_btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
#banner .banner_wrapper .banner_heading .banner_btn a {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  padding: 16px 56px;
  border: 1px solid #282938;
  border-radius: 41px;
  transition: all linear 0.3s;
}
#banner .banner_wrapper .banner_heading .banner_btn a:hover {
  background-color: #FCD980;
}
#banner .banner_wrapper .banner_heading .banner_btn .banner_arrow a {
  background-color: transparent;
  border: none;
  color: white;
}
#banner .banner_wrapper .banner_heading .banner_btn .banner_arrow a i {
  color: white;
  margin-left: 16px;
}
#banner .banner_wrapper .banner_image {
  width: 638px;
  height: 361px;
}
#banner .banner_wrapper .banner_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*======================== banner end =====================*/
/*======================== wrok part start =====================*/
#work {
  padding: 128px 0 129px 0;
  background: #F4F6FC;
}
#work .work_wrapper {
  display: flex;
  -moz-column-gap: 142px;
       column-gap: 142px;
}
#work .work_wrapper .work_heading {
  width: 405px;
}
#work .work_wrapper .work_heading h2 {
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  text-transform: capitalize;
  line-height: 150%;
}
#work .work_wrapper .work_heading p {
  color: #282938;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
}
#work .work_wrapper .work_heading a {
  font-size: 18px;
  font-weight: 500;
  color: #2405F2;
  cursor: pointer;
  text-transform: capitalize;
  line-height: 140%;
}
#work .work_wrapper .work_heading a i {
  color: #2405F2;
  margin-left: 16px;
}
#work .work_wrapper .wrok_item_wrapper {
  width: 656px;
  margin-right: 77px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}
#work .work_wrapper .wrok_item_wrapper .work_item {
  width: 50%;
}
#work .work_wrapper .wrok_item_wrapper .work_item .work_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #2405F2;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
#work .work_wrapper .wrok_item_wrapper .work_item .work_box::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-color: #FCD980;
  border-radius: 50%;
  left: -10px;
  bottom: -10px;
}
#work .work_wrapper .wrok_item_wrapper .work_item .work_box h4 {
  font-size: 18px;
  font-weight: 500;
  color: white;
  line-height: 140%;
}
#work .work_wrapper .wrok_item_wrapper .work_item h3 {
  font-size: 32px;
  font-weight: 500;
  color: #1C1E53;
  text-transform: capitalize;
  line-height: 150%;
  margin-bottom: 8px;
}
#work .work_wrapper .wrok_item_wrapper .work_item y p {
  color: #1C1E53;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
}

/*======================== work part end =====================*/
/*======================== project part start =====================*/
#project {
  padding: 128px 0;
}
#project .project_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#project .project_heading h2 {
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  text-transform: capitalize;
  line-height: 150%;
}
#project .project_heading a {
  color: #282938;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
}
#project .project_heading a i {
  color: #282938;
  margin-left: 16px;
}
#project .project_main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  cursor: pointer;
}
#project .project_main .project_big_image {
  width: 843px;
  height: 600px;
  overflow: hidden;
  margin-top: 64px;
  position: relative;
}
#project .project_main .project_big_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#project .project_main .project_big_image:hover .project_liyear {
  left: 0;
}
#project .project_main .project_big_image .project_liyear {
  position: absolute;
  width: 396px;
  height: 100%;
  left: -396px;
  top: 0;
  z-index: 111;
  background: linear-gradient(rgb(28, 30, 83), rgba(28, 30, 83, 0.459));
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  padding: 312px 35px 76px 48px;
  transition: all linear 0.3s;
}
#project .project_main .project_big_image .project_liyear h4 {
  width: 313px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  line-height: 140%;
  text-transform: capitalize;
  margin-bottom: 16px;
}
#project .project_main .project_big_image .project_liyear p {
  width: 293px;
  color: white;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
}
#project .project_main .project_big_image .project_liyear a {
  color: #FCD980;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
}
#project .project_main .project_big_image .project_liyear a i {
  color: #FCD980;
  margin-left: 16px;
}
#project .project_main .project_small_project {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 32px;
  width: 405;
  cursor: pointer;
}
#project .project_main .project_small_project .project_small_image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}
#project .project_main .project_small_project .project_small_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#project .project_main .project_small_project .project_small_image:hover .small_image_liyear {
  left: 0;
}
#project .project_main .project_small_project .project_small_image .small_image_liyear {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(28, 30, 83), rgba(28, 30, 83, 0.459));
  left: -405px;
  top: 0;
  z-index: 111;
  padding: 129px 36px 45px 56px;
  transition: all linear 0.3s;
}
#project .project_main .project_small_project .project_small_image .small_image_liyear h4 {
  width: 250px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  line-height: 140%;
  text-transform: capitalize;
  margin-bottom: 16px;
}
#project .project_main .project_small_project .project_small_image .small_image_liyear a {
  color: #FCD980;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
}
#project .project_main .project_small_project .project_small_image .small_image_liyear a i {
  color: #FCD980;
  margin-left: 16px;
}

/*======================== project part end =====================*/
/*======================== design part start =====================*/
#design {
  padding: 128px 0;
  background: #F4F6FC;
}
#design .design_heading {
  width: 630px;
  margin: 0 auto;
}
#design .design_heading p {
  width: 419px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #282938;
  text-transform: capitalize;
  line-height: 140%;
  padding-bottom: 12px;
  margin: 0 auto;
}
#design .design_heading h2 {
  width: 630px;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  color: #282938;
  line-height: 140%;
  text-transform: capitalize;
  margin-bottom: 47px;
}
#design .design_content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 24px;
}
#design .design_content_wrapper .design_contant {
  width: 405px;
  padding: 58px 32px 48px 48px;
  background: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
#design .design_content_wrapper .design_contant i {
  font-size: 28px;
  color: #2405F2;
  margin-bottom: 23px;
}
#design .design_content_wrapper .design_contant h4 {
  width: 314px;
  font-size: 24px;
  font-weight: 500;
  color: #282938;
  text-transform: capitalize;
  line-height: 150%;
  margin-bottom: 24px;
}
#design .design_content_wrapper .design_contant p {
  width: 324px;
  color: #282938;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
}

/*======================== design part end =====================*/
/*======================== about part start =====================*/
#about {
  padding: 130px 0;
  background: #F4F6FC;
  border: 2px solid #ECECF1;
}
#about .about_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 110px;
       column-gap: 110px;
}
#about .about_wrapper .about_head {
  width: 337px;
}
#about .about_wrapper .about_head h3 {
  font-size: 38px;
  font-weight: 600;
  color: #282938;
  line-height: 150%;
  text-transform: capitalize;
  margin-bottom: 16px;
}
#about .about_wrapper .about_head p {
  color: #282938;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
}
#about .about_wrapper .about_heading {
  width: 843px;
}
#about .about_wrapper .about_heading h4 {
  font-size: 32px;
  font-weight: 500;
  color: #282938;
  line-height: 150%;
  text-transform: capitalize;
  margin-bottom: 48px;
}
#about .about_wrapper .about_heading .about_profile {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
#about .about_wrapper .about_heading .about_profile .about_profile_image {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
}
#about .about_wrapper .about_heading .about_profile .about_profile_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#about .about_wrapper .about_heading .about_profile .about_profile_name h5 {
  font-size: 18px;
  font-weight: 500;
  color: #282938;
  line-height: 140%;
  text-transform: capitalize;
}
#about .about_wrapper .about_heading .about_profile .about_profile_name p {
  font-size: 12px;
  font-weight: 500;
  color: #282938;
  line-height: 140%;
  text-transform: capitalize;
}

/*======================== about part end =====================*/
/*======================== question part start =====================*/
#question {
  padding: 135px 0 128px 0;
  background: white;
}
#question .question_wrapper {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 109px;
       column-gap: 109px;
}
#question .question_wrapper .question_contant {
  width: 332px;
}
#question .question_wrapper .question_contant h3 {
  font-size: 38px;
  font-weight: 600;
  color: #282938;
  line-height: 150%;
  text-transform: capitalize;
  margin-bottom: 16px;
}
#question .question_wrapper .question_contant a {
  color: #2405F2;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
}
#question .question_main {
  width: 846px;
}
#question .question_main .question_item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 2px solid #ECECF1;
  padding: 32px 0;
}
#question .question_main .question_item:last-child {
  border-bottom: none;
}
#question .question_main .question_item .question_info {
  display: flex;
  -moz-column-gap: 53px;
       column-gap: 53px;
}
#question .question_main .question_item .question_info .question_number span {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  color: #2405F2;
}
#question .question_main .question_item .question_info .question_details h4 {
  font-size: 28px;
  font-weight: 600;
  color: #282938;
  line-height: 140%;
  text-transform: capitalize;
  margin-bottom: 16px;
}
#question .question_main .question_item .question_info .question_details p {
  width: 624px;
  color: #282938;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
  padding: 16px 25px 0 0;
}
#question .question_main .question_item .question_icon i {
  font-size: 18px;
  color: #282938;
  opacity: 0.7;
  line-height: 150%;
}

/*======================== question part end =====================*/
/*======================== about part end =====================*/
/*======================== about part end =====================*//*# sourceMappingURL=style.css.map */