$maincolor:#1C1E53;
$white:#FFFF;
$black:#282938;
$hover:#FCD980;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style: none;
}
h1 h2 h3 h4 h5 h6 p{
    line-height: 0.8;
}
@mixin pera{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
}
@mixin subheading{
    font-size: 48px;
    font-weight: 600;
    color: $black;
    text-transform: capitalize;
    line-height: 150%;
}
@mixin miniheadig{
    font-size: 38px;
    font-weight: 600;
    color: $black;
    line-height: 150%;
    text-transform: capitalize;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
/*======================== navbar start =====================*/
#navbar{
    padding: 30px 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    .nav_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar_logo{
            width: 122px;
            height: 28px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .navbar_menu{
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 48px;
            ul{
                display: flex;
                align-items: center;
                column-gap: 32px;
                li{
                    a{
                        font-size: 16px;
                        font-weight: 18px;
                        color: $white;
                        cursor: pointer;
                        text-transform: capitalize;
                        line-height: 140%;
                        transition: all linear 0.3s;
                        position: relative;
                        &::after{
                            position: absolute;
                            content: "";
                            width: 0;
                            height: 1px;
                            background: $white;
                            left: 0;
                            bottom: -8px;
                            transition: all linear 0.3s;
                        }
                        &:hover::after{
                            width: 50%;
                        }
                    }
                }
            }
            .nav_btn{
                display: flex;
                align-items: center;
                a{
                    font-size: 16px;
                    font-weight: 18px;
                    color: $white;
                    cursor: pointer;
                    padding: 16px 48px;
                    border: 2px solid #F4F6FC;
                    border-radius: 41px;
                    text-transform: capitalize;
                    line-height: 140%; 
                }
            }
        }
    }
}
/*======================== navbar end =====================*/
/*======================== banner start =====================*/
#banner{
    padding: 218px 0 128px 0;
    background: $maincolor;
    .banner_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 60px;
        .banner_heading{
            width:582px ;
            h1{
                font-size: 54px;
                font-weight: 600;
                color: $white;
                text-transform: capitalize;
                line-height: 150%;
                margin-bottom: 24px;
            }
            p{
                width: 562px;
                font-size: 16px;
                font-weight: 500;
                color: $white;
                line-height: 140%;
                text-transform: capitalize;
                margin-bottom: 48px;
            }
            .banner_btn{
                display: flex;
                align-items: center;
                column-gap: 40px;
                a{
                    font-size: 18px;
                    font-weight: 600;
                    color: #000;
                    padding: 16px 56px;
                    border: 1px solid $black;
                    border-radius: 41px;
                    transition: all linear 0.3s;
                    &:hover{
                        background-color: $hover;
                    }
                }
                .banner_arrow{
                    a{
                        background-color: transparent;
                        border: none;
                        color: $white;
                        i{
                            color: $white;
                            margin-left: 16px;
                        }
                    }
                }
            }
        }
        .banner_image{
            width: 638px;
            height: 361px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
/*======================== banner end =====================*/
/*======================== wrok part start =====================*/
#work{
    padding: 128px 0 129px 0;
    background: #F4F6FC;
    .work_wrapper{
        display: flex;
        column-gap: 142px;
        .work_heading{
            width: 405px;
            h2{
                margin-bottom: 16px;
                @include subheading;
            }
            p{
                color: $black;
                margin-bottom: 16px;
                @include pera;
            }
            a{
                font-size: 18px;
                font-weight: 500;
                color: #2405F2;
                cursor: pointer;
                text-transform: capitalize;
                line-height: 140%;
                i{
                    color: #2405F2;
                    margin-left: 16px;
                }
            }
        }
        .wrok_item_wrapper{
            width: 656px;
            margin-right: 77px;
            display: flex;
            flex-wrap: wrap;
            row-gap: 48px;
            .work_item{
                width: 50%;
                .work_box{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                background: #2405F2;
                border-radius: 8px;
                overflow: hidden;
                position: relative;
                &::after{
                    position: absolute;
                    content: "";
                    width: 25px;
                    height: 25px;
                    background-color: $hover;
                    border-radius: 50%;
                    left: -10px;
                    bottom: -10px;
                }
                h4{
                    font-size:18px ;
                    font-weight: 500 ;
                    color: $white;
                    line-height: 140%;
                }
                }
                h3{
                    font-size: 32px;
                    font-weight: 500;
                    color: $maincolor;
                    text-transform: capitalize;
                    line-height: 150%;
                    margin-bottom: 8px;
                }y
                p{
                    color: $maincolor;
                    @include pera;
                }
            }
        }
    }
}
/*======================== work part end =====================*/
/*======================== project part start =====================*/
#project{
    padding: 128px 0;
    .project_heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        h2{
            @include subheading;
        }
        a{
            color:$black;
            @include pera;
            i{
                color: $black;
                margin-left: 16px;
            }
        }
    }
    .project_main{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 32px;
        cursor: pointer;
        .project_big_image{
            width: 843px;
            height: 600px;
            overflow: hidden;
            margin-top: 64px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover .project_liyear{
                left: 0;
            }
            .project_liyear{
                position: absolute;
                width: 396px;
                height: 100%;
                left: -396px;
                top: 0;
                z-index: 111;
                background:linear-gradient(rgb(28, 30, 83),rgba(28, 30, 83, 0.459));
                display: flex;
                flex-direction: column;
                overflow: hidden;
                cursor: pointer;
                padding: 312px 35px 76px 48px;
                transition: all linear 0.3s;
                h4{
                    width: 313px;
                    font-size: 24px;
                    font-weight: 600;
                    color: $white;
                    line-height: 140%;
                    text-transform: capitalize;
                    margin-bottom: 16px;
                }
                p{
                    width: 293px;
                    color: $white;
                    margin-bottom: 40px;
                    @include pera;
                }
                a{
                    color:$hover;
                    @include pera;
                    i{
                        color:$hover;
                        margin-left: 16px;
                    }
                }
            }
        }
        .project_small_project{
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            row-gap: 32px;
            width: 405;
            cursor: pointer;
            .project_small_image{
                width: 100%;
                height: 250px;
                overflow: hidden;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &:hover .small_image_liyear{
                    left: 0;
                }
                .small_image_liyear{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background:linear-gradient(rgb(28, 30, 83),rgba(28, 30, 83, 0.459));
                    left: -405px;
                    top: 0;
                    z-index: 111;
                    padding: 129px 36px 45px 56px;
                    transition: all linear 0.3s;
                    h4{
                        width: 250px;
                        font-size: 24px;
                        font-weight: 600;
                        color: $white;
                        line-height: 140%;
                        text-transform: capitalize;
                        margin-bottom: 16px;
                    }
                    a{
                        color:$hover;
                        cursor: pointer;
                        @include pera;
                        i{
                            color:$hover;
                            margin-left: 16px;
                        }
                    }
                }
            }
        }
    }
}
/*======================== project part end =====================*/
/*======================== design part start =====================*/
#design{
    padding: 128px 0;
    background: #F4F6FC;
    .design_heading{
        width: 630px;
        margin:  0 auto;
        p{
            width: 419px;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            color: $black;
            text-transform: capitalize;
            line-height: 140%;
            padding-bottom: 12px;
            margin:0 auto;
        }
        h2{
            width: 630px;
            font-size: 48px;
            font-weight: 600;
            text-align: center;
            color: $black;
            line-height: 140%;
            text-transform: capitalize;
            margin-bottom: 47px;
        }
    }
    .design_content_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 24px;
        .design_contant{
            width: 405px;
            padding: 58px 32px 48px 48px;
            background: $white;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            i{
                font-size: 28px;
                color: #2405F2;
                margin-bottom: 23px;
            }
            h4{
                width: 314px;
                font-size:24px;
                font-weight: 500;
                color: $black;
                text-transform: capitalize;
                line-height: 150%;
                margin-bottom: 24px
            }
            p{
                width: 324px;
                color: $black;
                @include pera;
            }
        }
    }
}
/*======================== design part end =====================*/
/*======================== about part start =====================*/
#about{
    padding: 130px 0;
    background: #F4F6FC;
    border:2px solid #ECECF1;
    .about_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 110px;
        .about_head{
            width: 337px;
            h3{
                @include miniheadig;
                margin-bottom: 16px;
            }
            p{
                color: $black;
                @include pera;
            }
        }
        .about_heading{
            width: 843px;
            h4{
                font-size: 32px;
                font-weight: 500;
                color: $black;
                line-height: 150%;
                text-transform: capitalize;
                margin-bottom: 48px;
            }
            .about_profile{
                display: flex;
                align-items: center;
                column-gap: 14px;
                .about_profile_image{
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .about_profile_name{
                    h5{
                        font-size: 18px;
                        font-weight: 500;
                        color: $black;
                        line-height: 140%;
                        text-transform: capitalize;
                    }
                    p{
                        font-size: 12px;
                        font-weight: 500;
                        color: $black;
                        line-height: 140%;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
/*======================== about part end =====================*/
/*======================== question part start =====================*/
#question{
    padding: 135px 0 128px 0;
    background: $white;
    .question_wrapper{
        display: flex;
        justify-content: space-between;
        column-gap: 109px;
        .question_contant{
            width: 332px;
            h3{
                @include miniheadig;
                margin-bottom: 16px;
            }
            a{
                color:#2405F2;
                cursor: pointer;
                @include pera;
            }
        }
    }
    .question_main{
        width: 846px;
        .question_item{
            display: flex;
            justify-content: space-between;
            align-items: start;
            border-bottom:2px solid #ECECF1 ;
            padding: 32px 0;
            &:last-child{
                border-bottom: none;
            }
            .question_info{
                display: flex;
                column-gap: 53px;
                .question_number{
                    span{
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 140%;
                        color: #2405F2;
                    }
                }
                .question_details{
                    h4{
                        font-size: 28px;
                        font-weight: 600;
                        color: $black;
                        line-height: 140%;
                        text-transform: capitalize;
                        margin-bottom: 16px;
                    }
                    p{
                        width: 624px;
                        color: $black;
                        @include pera;
                        padding: 16px 25px 0 0;
                    }
                }
            }
            .question_icon{
                i{
                    font-size: 18px;
                    color: $black;
                    opacity: 0.7;
                    line-height: 150%;
                }
            }
        }
    }
}
/*======================== question part end =====================*/
/*======================== about part end =====================*/
/*======================== about part end =====================*/